body {
	@include font-size(15);
	color: lighten($dark-color, 22%);
    background-color: $light-color;
    font-family: $primary-font;
    font-weight: normal;
    font-style: normal;
	line-height: $body-line-height;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    @include bp(smx) {
    	font-size: 14px;
    }
}
p {
	line-height: 1.6;
	margin: 0 0 15px;
    word-wrap: break-word;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote, pre {
	background-color: darken($light-color, 2%);
	border-width: 0 0 0 3px;
	border-color: darken($light-color, 15%);
	border-style: solid;
	@include box-shadow(none);
	color: lighten($dark-color, 10%);
	font-family: $primary-font;
	font-style: italic;
	margin: 0 0 15px 0;
	padding: 25px 22px;
	@include font-size(18);
	p {
		margin-bottom: 0;
	}
}
blockquote {
	background-color: transparent;
	border-left: none;
	color: $title-color;
	margin: 40px 0;
	text-align: center;
	position: relative;
	padding: 30px;
	&:before {
		background-color: #fff;
		color: lighten($dark-color, 20%);
		content: "\f10d";
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		@include font-size(20);
		float: left;
		margin-right: 20px;
		line-height: 1;
		font-style: normal;
		position: absolute;
		left: 50%;
		@include translate(-50%, 0);
		top: -10px;
    	padding: 0 10px;
    	z-index: 9;
	}
	&:after {
		border-bottom: 2px solid #ddd;
		border-top: 2px solid #ddd;
		content: "";
		bottom: 0;
		content: "";
		display: block;
		left: 50%;
		@include translate(-50%, 0);
		position: absolute;
		top: 0;
		width: 200px;
	}
	p {
    	font-size: 28px;
    	line-height: 1.4;
	}
	cite {
		color: #8d8d8d;
		display: block;
		font-style: normal;
		@include font-size(13);
	}
}
abbr, acronym {
	border-bottom: 1px dotted lighten($dark-color, 30%);
	cursor: help;
}
mark, ins {
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}
big {
	font-size: 125%;
}
b, strong {
	font-weight: 700;
}
iframe {
	display: block;
	width: 100%;
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

/*--------------------------------------------------------------
# Heading
--------------------------------------------------------------*/
%heading-group {
	color: $title-color;
	font-family: $title-font;
}
h1, h2, h3, h4, h5, h6 {
	@extend %heading-group;
	margin: 0 0 15px;
	line-height: $title-line-height;
	a {
		color: inherit;
	}
}
h1 {
    @include font-size(60);
    font-weight: 800;
}
h2 {
    @include font-size(40);
    font-weight: 700;
}
h3 {
    @include font-size(30);
    font-weight: 700;
}
h4 {
    @include font-size(20);
    font-weight: 700;
}
h5 {
    @include font-size(16);
}
h6 {
    @include font-size(12);
}
@include bp(mdx){
	h1 {
		@include font-size(36);
	}
	h2 {
		@include font-size(28);
	}
	h3 {
		@include font-size(20);
	}
	h4 {
		@include font-size(20);
	}
	h5 {
		@include font-size(14);
	}
	h6 {
		@include font-size(12);
	}
}

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ul, 
ol {
	margin: 0 0 1.5em 0.875em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold; 
}
dd {
	margin: 0 1.5em 1.5em; 
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	color: #0085BA;
	text-decoration: none;
	@include transition (color 0.3s);
	&:hover,
	&:focus,
	&:active {
		color: $hover-color;
		text-decoration: none;
		outline: 0;
	}
	&:visited {
		text-decoration: none;
		outline: 0;
	}
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: darken($light-color, 10%);
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: lighten($dark-color, 10%);
		display: block;
		@include font-size(14);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Others
--------------------------------------------------------------*/

.container {
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
}
.overlay,
.pattern-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.overlay {
	background-color: rgba(#111111, 0.8);
}
.section-title {
	margin-bottom: 30px;
	span {
		display: inline-block;
		position: relative;
	}
}
.section-head {
	position: relative;
	margin-bottom: 50px;
	.back-title {
		color: rgba(217, 217, 217, 0.32);
		font-size: 60px;
		font-weight: 800;
		line-height: 0.8;
		margin-bottom: -28px;
	}
	@include bp(smx) {
		.back-title {
			font-size: 32px;
			margin-bottom: -14px;
		}
	}
}
.title-shape { 
	position: absolute;
    top: 50%;
    left: 50%;
    @include calc(width, '100% + 20px');
    @include translate(-50%, -50%);
    margin-top: 5px;
    overflow: visible;
	path {
    	stroke: $primary-color;
    	stroke-width: 6px;
    	fill: none;
    	stroke-dasharray: 0 1500;
    	-webkit-animation: headline-dash forwards;
		animation: headline-dash forwards;
		-webkit-animation-duration: 1.2s;
		animation-duration: 1.2s;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
		-webkit-transition: 0.3s;
		transition: 0.3s;
    }
}

.section-head.animated-line {
	.title-shape { 
	    path {
			opacity: 1;
			stroke-dasharray: 1500 1500;
			-webkit-animation: hide-highlight .4s forwards;
			animation: hide-highlight .4s forwards;
			-webkit-animation-iteration-count: 1;
			animation-iteration-count: 1;
		}
	}
}

@-webkit-keyframes headline-dash {
	0% {
		stroke-dasharray: 0 1500;
		opacity: 1;
	}

	to {
		stroke-dasharray: 1500 1500;
		opacity: 1;
	}
}

@keyframes headline-dash {
	0% {
		stroke-dasharray: 0 1500;
		opacity: 1;
	}

	to {
		stroke-dasharray: 1500 1500;
		opacity: 1;
	}
}

@-webkit-keyframes hide-headline-dash {
	0% {
		opacity: 1;
		stroke-dasharray: 1500 1500;
	}

	to {
		opacity: 0;
	}
}

@keyframes hide-headline-dash {
	0% {
		opacity: 1;
		stroke-dasharray: 1500 1500;
	}

	to {
		opacity: 0;
	}
}

.white-section-head {
	.section-title,
	.section-disc {
		color: $light-color;
	}
	.back-title {
		color: rgba(255, 255, 255, 0.19);
	}
}