.gallery-section {
	padding-bottom: 100px;
	padding-top: 100px;
	@include bp(smx) {
		padding-bottom: 70px;
		padding-top: 70px;
	}
}
.gallery-inner {
	@include clearfix;
	padding-top: 20px;
	margin: -8px;
	.single-gallery {
		width: 25%;
		float: left;
		padding: 8px;
	}
	.gallery-img {
		overflow: hidden;
		img {
			width: 100%;
		}	
		a {
			display: block;
			position: relative;
			&:before {
				background-color: rgba(0, 0, 0, 0.6);
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				@include transition(all 0.4s);
			}
			&:hover {
				&:before {
					opacity: 1;
				}
			}
		}
	}
	@include bp(mdx) {
		margin: -5px;
		.single-gallery {
			width: 50%;
			padding: 5px;
		}
	}
	@include bp(smx) {
		padding-top: 0;
	}
	@include bp(xsx) {
		.single-gallery {
			width: 100%;
		}
	}
}

// lightbox css
.lb-data .lb-closeContainer {
	position: fixed;
	top: 15px;
	right: 15px;
}