.progress-section {
	margin-bottom: -60px;
}
.process-count-item {
	@include flexbox();
	@include align-items(center);
	box-shadow: 0px -10px 35px 0px rgba($dark-color, 0.03);
	margin-left: 40px;
	.process-number {
		font-family: $title-font;
		color: $primary-color;
		font-size: 70px;
		font-weight: 900;
		line-height: 1;
		margin-left: -20px;
	}
	.process-content {
		padding: 30px 35px;
		h4 {
			margin-bottom: 8px;
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.secondary-bg {
		.process-content {
			* {
				color: $light-color;
			}
		}
	}
	&.primary-bg {
		.process-number {
			color: $secondary-color;
		}
	}
	@include bp(mdx) {
		margin-bottom: 30px;
		margin-left: 20px;
	}
}