.career-detail-section {
	.career-detail-inner {
		padding-bottom: 50px;
	}
	.job-description {
		background-color: $primary-color;
		overflow: hidden;
		ul {
			margin: 0;
			padding: 0;
			@include flexbox();
			@include flex-wrap(wrap);
			text-align: center;
			padding: 24px 0;
		}
		li {
			color: #787878;
			list-style: none;
			display: inline-block;
			padding: 0 8px;
			width: 25%;
			font-size: 16px;
			font-weight: 600;
			border-right: 2px solid rgba($light-color, 0.5);
			h4 {
				margin-bottom: 0;
			}
			&:last-child {
				border-right: none;
			}
		}
		@include bp(smx) {
			li {
				width: 100%;
				border-right: none;
				border-bottom: 1px solid rgba($light-color, 0.28);
				padding: 10px 0;
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
	@include bp(lg) {
		.career-detail-container {
			padding-left: 20px;
		}
	}
}

.secondary-callback {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 80px 0;
	position: relative;
	z-index: 1;
	.heading-inner {
		background-color: rgba($secondary-color, 0.7);
		@include border-radius(25px);
		color: $light-color;
		padding: 50px;
		h2 {
			color: $light-color;
		}
		.button-round {
			margin-top: 15px;
		}
	}
}